# Loading data from Databses
Let's review some of the Input/Output formats that Pandas support:

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%">
<col width="40%">
<col width="24%">
<col width="24%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="https://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-even" style='background-color: #BBB; '><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

In [1]:
from sqlalchemy import create_engine
import pandas as pd

<div style='border: red 2px solid; background: #eaa; padding: 1em; margin: 0.6em'>
    Unless using <b>conda</b> MySQL connector listed on <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-sql">Pandas documentation</a> require compilation i.e.:  <pre>mysql+mysqldb</pre></br>
    We found that PyMySQL does not require any extra dependencies and runs OK so any Database URL will be prefixed with:
    <pre>mysql+pymysql</pre>
</div>

### Installing the driver

In [2]:
!pip install PyMySQL

Requirement already satisfied: PyMySQL in /Users/nahuel/.pyenv/versions/3.6.6/envs/jupyter3/lib/python3.6/site-packages (0.9.3)

#### Create engine passing the address

In [3]:
from getpass import getpass

In [5]:
host = 'localhost'
user = 'root'
password = getpass('passwrod:')
host = 'localhost'
port = 3306
database = 'demo'

passwrod: ········

In [6]:
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')
engine

Engine(mysql+pymysql://root:***@localhost:3306/demo)

In [7]:
json_df  = pd.read_json('data/MOCK_DATA.json')
json_df

           bday                                 email first_name  last_name
0    1934-06-25                 kaurdebra@hotmail.com      Megan   Thornton
1    1939-12-10                      zsmith@yahoo.com    Raymond    Roberts
2    1985-10-27                   trevorkhan@bird.org      Lynne      Moore
3    1962-03-18               taylormelanie@yahoo.com      Helen      Jones
4    1934-06-18                  jackwhite@turner.com     Gerald     Austin
5    1945-12-22                 gmarshall@hotmail.com     Lesley     Davies
6    1930-06-10                     david41@gmail.com       Glen      Jones
7    1956-12-18                 carolyn73@hotmail.com      Karen     Taylor
8    1990-11-03                peterstone@hotmail.com   Ashleigh     Nelson
9    1963-07-05                  ldoherty@hotmail.com      Abbie     Walker
10   1939-05-10                   laurawong@yahoo.com     Leanne     Hughes
11   1971-07-24                vincentlowe@burton.com      Laura      Hobbs
12   1981-09-17                  carlshaw@thomson.biz   Jonathan      Davis
13   1965-04-10                   jenna02@hotmail.com      Terry      Davis
14   1958-02-15                     clive20@smith.com    Dorothy      Jones
15   1942-10-10                    dennis56@smith.com     Nathan     Winter
16   1973-03-04                  traceygill@gmail.com      Conor     Wright
17   1982-03-21  jonesjacqueline@bradley-mcdonald.com       Rhys   Crawford
18   1937-05-01                    lauren72@allen.com    Lindsey     Potter
19   1949-10-10                  lpickering@gmail.com    Mohamed       Hill
20   1931-10-07                     mpage@hotmail.com      Aimee    Edwards
21   1934-09-21                 fhenderson@foster.com   Margaret     Sharpe
22   1982-11-26                        ismith@cox.net     Howard      Ahmed
23   2001-11-22                   ucooper@chapman.com       Paul     Wright
24   1976-04-25                      lyoung@yahoo.com      Kerry   Phillips
25   1941-05-18              brownfrances@thomson.com    Heather     Conway
26   1958-03-07            barbaraedwards@hotmail.com     Graham   Phillips
27   1985-10-02                   damiendunn@wood.com     Samuel     Hunter
28   1986-12-26                 goughjohn@hotmail.com    Jeffrey      Adams
29   1948-11-11                  victoria75@yahoo.com   Victoria     Conway
..          ...                                   ...        ...        ...
970  1989-03-26                      cmarsh@gmail.com       John     Rogers
971  1947-11-27        traceybooth@davies-collins.com      Sally   Shepherd
972  1959-05-13                     graham22@lees.com    Bradley     Bailey
973  1990-09-05                   awhite@franklin.com    Annette       Pope
974  1959-11-08           chamberlainyvonne@jones.com       John    Fleming
975  1997-04-22        williamsjake@simpson-heath.com  Elizabeth      Jones
976  1941-04-21                     esteele@booth.com        Kim     Carter
977  1952-09-15       griffinjohn@quinn-crawford.info       Dale   Turnbull
978  1978-03-05                alanmurphy@bennett.com      Clare     Parker
979  1939-05-28            leannecartwright@gmail.com  Katherine    Walters
980  1976-07-22                   hwalton@hotmail.com       Eric      Smith
981  1970-06-29          whiteheadgillian@hotmail.com    Leonard     Barker
982  1988-03-20                   holly12@hotmail.com     Hayley      Moore
983  1974-07-12              normanjennings@yahoo.com      Bruce   Ferguson
984  1951-07-28              fordgregory@robinson.biz    Elliott     Wilson
985  1972-03-02                  stokesmary@gmail.com        Zoe      Perry
986  1957-09-13            sstanley@king-mcdonald.com      Lewis     Barnes
987  1997-11-11                    derek88@taylor.org      Robin     Bailey
988  1942-03-17                 kerrywilson@gmail.com      Harry     Hughes
989  1982-04-13                 smithjack@pearson.net     Connor  Whittaker
990  1994-04-14                    djones@hotmail.com     Kieran     Hudson
991  1952-03-18               nathanroberts@yahoo.com      Naomi     Miller
992  1940-07-06      smithdanielle@carter-jenkins.biz      Bryan     Newman
993  1930-02-26                   sthomas@cameron.com     Damian   Richards
994  1978-10-14      hannahharrison@davies-palmer.org     Carole     Wright
995  1999-07-30                oanderson@phillips.com       John      Marsh
996  1976-09-01                    pevans@hotmail.com    Gregory   Williams
997  1994-11-26                     holly94@gmail.com     George      Kelly
998  1992-07-09                       nkhan@heath.com       Glen    Johnson
999  1997-05-23                 shirley49@hotmail.com      Jason     Bailey

[1000 rows x 4 columns]

In [8]:
json_df.to_sql(
    'Customer', 
    engine, 
    index=True, 
    index_label='id', 
    if_exists='replace'
)

#### Make a query

In [9]:
df_customer = pd.read_sql_query('select email, bday, first_name from Customer',con=engine)
df_customer

                                    email        bday first_name
0                   kaurdebra@hotmail.com  1934-06-25      Megan
1                        zsmith@yahoo.com  1939-12-10    Raymond
2                     trevorkhan@bird.org  1985-10-27      Lynne
3                 taylormelanie@yahoo.com  1962-03-18      Helen
4                    jackwhite@turner.com  1934-06-18     Gerald
5                   gmarshall@hotmail.com  1945-12-22     Lesley
6                       david41@gmail.com  1930-06-10       Glen
7                   carolyn73@hotmail.com  1956-12-18      Karen
8                  peterstone@hotmail.com  1990-11-03   Ashleigh
9                    ldoherty@hotmail.com  1963-07-05      Abbie
10                    laurawong@yahoo.com  1939-05-10     Leanne
11                 vincentlowe@burton.com  1971-07-24      Laura
12                   carlshaw@thomson.biz  1981-09-17   Jonathan
13                    jenna02@hotmail.com  1965-04-10      Terry
14                      clive20@smith.com  1958-02-15    Dorothy
15                     dennis56@smith.com  1942-10-10     Nathan
16                   traceygill@gmail.com  1973-03-04      Conor
17   jonesjacqueline@bradley-mcdonald.com  1982-03-21       Rhys
18                     lauren72@allen.com  1937-05-01    Lindsey
19                   lpickering@gmail.com  1949-10-10    Mohamed
20                      mpage@hotmail.com  1931-10-07      Aimee
21                  fhenderson@foster.com  1934-09-21   Margaret
22                         ismith@cox.net  1982-11-26     Howard
23                    ucooper@chapman.com  2001-11-22       Paul
24                       lyoung@yahoo.com  1976-04-25      Kerry
25               brownfrances@thomson.com  1941-05-18    Heather
26             barbaraedwards@hotmail.com  1958-03-07     Graham
27                    damiendunn@wood.com  1985-10-02     Samuel
28                  goughjohn@hotmail.com  1986-12-26    Jeffrey
29                   victoria75@yahoo.com  1948-11-11   Victoria
..                                    ...         ...        ...
970                      cmarsh@gmail.com  1989-03-26       John
971        traceybooth@davies-collins.com  1947-11-27      Sally
972                     graham22@lees.com  1959-05-13    Bradley
973                   awhite@franklin.com  1990-09-05    Annette
974           chamberlainyvonne@jones.com  1959-11-08       John
975        williamsjake@simpson-heath.com  1997-04-22  Elizabeth
976                     esteele@booth.com  1941-04-21        Kim
977       griffinjohn@quinn-crawford.info  1952-09-15       Dale
978                alanmurphy@bennett.com  1978-03-05      Clare
979            leannecartwright@gmail.com  1939-05-28  Katherine
980                   hwalton@hotmail.com  1976-07-22       Eric
981          whiteheadgillian@hotmail.com  1970-06-29    Leonard
982                   holly12@hotmail.com  1988-03-20     Hayley
983              normanjennings@yahoo.com  1974-07-12      Bruce
984              fordgregory@robinson.biz  1951-07-28    Elliott
985                  stokesmary@gmail.com  1972-03-02        Zoe
986            sstanley@king-mcdonald.com  1957-09-13      Lewis
987                    derek88@taylor.org  1997-11-11      Robin
988                 kerrywilson@gmail.com  1942-03-17      Harry
989                 smithjack@pearson.net  1982-04-13     Connor
990                    djones@hotmail.com  1994-04-14     Kieran
991               nathanroberts@yahoo.com  1952-03-18      Naomi
992      smithdanielle@carter-jenkins.biz  1940-07-06      Bryan
993                   sthomas@cameron.com  1930-02-26     Damian
994      hannahharrison@davies-palmer.org  1978-10-14     Carole
995                oanderson@phillips.com  1999-07-30       John
996                    pevans@hotmail.com  1976-09-01    Gregory
997                     holly94@gmail.com  1994-11-26     George
998                       nkhan@heath.com  1992-07-09       Glen
999                 shirley49@hotmail.com  1997-05-23      Jason

[1000 rows x 3 columns]

In [10]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
email         1000 non-null object
bday          1000 non-null object
first_name    1000 non-null object
dtypes: object(3)
memory usage: 23.5+ KB

In [11]:
df_customer.describe()

                   email        bday first_name
count               1000        1000       1000
unique               998         981        341
top     jsmith@yahoo.com  1962-08-25     Gerald
freq                   2           2          9

#### Adding new element to a Table

In [12]:
json_df.columns

Index(['bday', 'email', 'first_name', 'last_name'], dtype='object')

In [13]:
new_df = pd.DataFrame([[pd.datetime(1990, 3, 19),'cintas.celia@gmail.com', 'celia', 'cintas', ]], columns=json_df.columns)
new_df

        bday                   email first_name last_name
0 1990-03-19  cintas.celia@gmail.com      celia    cintas

In [14]:
new_df.to_sql('Customer', engine, if_exists='append', index=None)

In [15]:
df_customer = pd.read_sql_query('select * from Customer WHERE first_name LIKE "celia";', con=engine)
df_customer

     id                 bday                   email first_name last_name
0  None  1990-03-19 00:00:00  cintas.celia@gmail.com      celia    cintas

#### Adding new Table from pandas

In [16]:
new_table = pd.DataFrame([], columns=['WineCode', 'Type', 'Vintage'])
new_table

Empty DataFrame
Columns: [WineCode, Type, Vintage]
Index: []

In [17]:
new_table.to_sql('Wine', engine, index=None)

#### Doing the same using SQLalchemy

In [18]:
from sqlalchemy import MetaData, types
from sqlalchemy import Table, Column

In [19]:
metadata = MetaData()

In [20]:
time = Table('Time', metadata,
    Column('TimeCode', types.Integer, primary_key=True),
    Column('Date', types.DateTime, nullable=False),
 )

In [21]:
metadata.create_all(engine)

### Adding new elements

In [22]:
data = [[1, 'White', 2000],
        [2, 'red', 2015],
        [3, 'rose', 2014]]

In [23]:
new_df = pd.DataFrame(data, columns=new_table.columns)

In [24]:
new_df.to_sql('Wine', engine, if_exists='append', index=None)

In [25]:
df_wine = pd.read_sql_query('select * from Wine',con=engine)
df_wine

  WineCode   Type Vintage
0        1  White    2000
1        2    red    2015
2        3   rose    2014

In [26]:
data = [[1, 'White', pd.datetime(2000, 10, 10)],
        [2, 'red', pd.datetime(2010, 9, 9)],
        [3, 'rose', pd.datetime(2011, 9, 9)]]

In [27]:
new_df = pd.DataFrame(data, columns=df_wine.columns)
new_df['Vintage']

0   2000-10-10
1   2010-09-09
2   2011-09-09
Name: Vintage, dtype: datetime64[ns]

In [28]:
new_df.to_json('/tmp/foo.json', date_unit='ns')

In [29]:
json_demo = pd.read_json('/tmp/foo.json')
json_demo

   WineCode   Type              Vintage
0         1  White   971136000000000000
1         2    red  1283990400000000000
2         3   rose  1315526400000000000

In [30]:
new_df

   WineCode   Type    Vintage
0         1  White 2000-10-10
1         2    red 2010-09-09
2         3   rose 2011-09-09

In [31]:
json_demo['Vintage'] = pd.to_datetime(json_demo['Vintage'], unit='ns')

In [32]:
json_demo

   WineCode   Type    Vintage
0         1  White 2000-10-10
1         2    red 2010-09-09
2         3   rose 2011-09-09

In [33]:
new_df

   WineCode   Type    Vintage
0         1  White 2000-10-10
1         2    red 2010-09-09
2         3   rose 2011-09-09

In [34]:
json_demo.columns.values

array(['WineCode', 'Type', 'Vintage'], dtype=object)

In [35]:
json_demo.values

array([[1, 'White', Timestamp('2000-10-10 00:00:00')],
       [2, 'red', Timestamp('2010-09-09 00:00:00')],
       [3, 'rose', Timestamp('2011-09-09 00:00:00')]], dtype=object)

In [36]:
pd.merge(json_demo, new_df, on=list(json_demo.columns.values), how='outer')

   WineCode   Type    Vintage
0         1  White 2000-10-10
1         2    red 2010-09-09
2         3   rose 2011-09-09

In [37]:
pd.Series?

Init signature:
pd.Series(
    ['data=None', 'index=None', 'dtype=None', 'name=None', 'copy=False', 'fastpath=False'],
)
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, *, **) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, dict, or scalar value
    Contains data stored in Series

    .. versionchanged :: 0.23.0
       If data is a dict, argument order is maintained for Python 3.6
       and later.

index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If both a dict and index
    sequence are used, the index will override the keys found in the
    dict.
dtype : numpy.dtype or None
    If None, dtype will be inferred
copy : boolean, default False
    Copy input data
File:           ~/.pyenv/versions/3.6.6/envs/jupyter3/lib/python3.6/site-packages/pandas/core/series.py
Type:           type
Subclasses:     SparseSeries, SubclassedSeries

In [38]:
score = pd.Series([10, 9, 8], name='score')
score

0    10
1     9
2     8
Name: score, dtype: int64

In [39]:
out = pd.concat([json_demo, score], axis=1)
new_row = pd.DataFrame([[4, 'espumeante',pd.datetime(2000,2,2)]], columns=new_df.columns)

In [40]:
append_df = new_df.append(new_row)

In [41]:
append_df.to_sql('Wine', engine, if_exists='append', index=None)