<h1  markdown="1" style="text-align: center; font-size:50px"> Intro to Python 3</h1>

based on https://github.com/pablo1n7/meetup/tree/master/4-2016/introduccion-python

<h1  markdown="1" style="text-align: center; font-size:30px"> Data types </h1>

# Numbers, strings and bools

### int and float

In [3]:
num_1 = 80
num_2 = 232

In [4]:
num_1 + num_2

312

In [5]:
num_1 / 0

ZeroDivisionError: division by zero

In [6]:
num_1 * 3

240

In [8]:
num_2 ** 2

53824

In [9]:
import math
math.sqrt(4)

2.0

In [10]:
math.pi

3.141592653589793

### Strings

In [11]:
cadena_1 = "Hola Mundo"
cadena_2 = ','
cadena_3 = "Hello World"
print(cadena_3)

Hello World

In [12]:
cadena_3[:4]

'Hell'

In [13]:
cadena_1[0:4]

'Hola'

In [14]:
cadena_1 + cadena_2 +cadena_3

'Hola Mundo,Hello World'

In [16]:
"World " * 3

'World World World '

In [17]:
'%s is super %s' % ('Tunapanda', 'Awesome')

'Tunapanda is super Awesome'

In [21]:
'I like to say {} to all {}'.format(cadena_1[:4], 'Tunapanda\'s students')

"I like to say Hola to all Tunapanda's students"

### Bools

In [22]:
bool_1 = False
bool_2 = True

In [23]:
bool_1 and bool_2

False

In [24]:
bool_1 or bool_2

True

In [25]:
num_1 > num_2 or num_2 == 5

False

# Tuples, lists and dictionaries

### Tuples

In [27]:
tuple_1 = (1, 2, 4, 5, 6, 7, 7, "asd")
tuple_2 = 5, 6
print(tuple_2)

(5, 6)

In [28]:
tuple_1

(1, 2, 4, 5, 6, 7, 7, 'asd')

In [29]:
tuple_1[0]

1

In [30]:
tuple_2[2]

IndexError: tuple index out of range

In [31]:
tuple_2[0] = 10

TypeError: 'tuple' object does not support item assignment

In [32]:
tuple_2 * 5

(5, 6, 5, 6, 5, 6, 5, 6, 5, 6)

In [33]:
tuple_2.index("asd")

ValueError: tuple.index(x): x not in tuple

### Lists

In [34]:
# extension 
list_1 = [1,2,3,4,5,6]
print(list_1)

[1, 2, 3, 4, 5, 6]

In [35]:
# Comprehension 
list_2 = [2**i for i in range(13)]
print(list_2)

list_2 = list(range(2,6))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [36]:
cadena_1
"Hola" in cadena_1

True

In [37]:
list_1[:]

[1, 2, 3, 4, 5, 6]

In [38]:
list_1[:3]

[1, 2, 3]

In [39]:
list_2 = list_1[:] * 2
print(list_2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [40]:
list_2[:6] = ["A","B","C","D"]
print(list_2)

['A', 'B', 'C', 'D', 1, 2, 3, 4, 5, 6]

In [41]:
list_1 = ['a', 'b', 'c']
list_2 = [1, 2, 3]
list_3 = [list_1, list_2,list_1,list_2]
print(list_3)

[['a', 'b', 'c'], [1, 2, 3], ['a', 'b', 'c'], [1, 2, 3]]

In [42]:
stack = list_2[:]
print(stack)
stack.pop()
print(stack)

[1, 2, 3]
[1, 2]

In [43]:
list_3

[['a', 'b', 'c'], [1, 2, 3], ['a', 'b', 'c'], [1, 2, 3]]

In [45]:
queue = list_1[:]
print(queue)
queue.pop(0)
print(queue)

['a', 'b', 'c']
['b', 'c']

### Dictionaries

In [46]:
dicc_1 = {"one":1,"two":2,"three":3}
print(dicc_1)

{'one': 1, 'two': 2, 'three': 3}

In [47]:
dicc_1["three"]

3

In [48]:
del(dicc_1["two"])
print(dicc_1)

{'one': 1, 'three': 3}

In [49]:
"three" in dicc_1

True

# Flow control

In [50]:
print(list_1)
#lista_1.append('d')
if ('d' in list_1):
    print (" 'd' is in the list")
else:
    print (" 'd' is not in the list")

['a', 'b', 'c']
 'd' is not in the list

In [51]:
queue = list(range(6))
while(len(queue)):
    print(queue.pop(0))

0
1
2
3
4
5

In [52]:
list_1 = ["red", "green", "blue", "yellow"]
for color in list_1:
    print(color)

red
green
blue
yellow

In [53]:
list_2 = [15, 35, 2, 23]
for element_1,element_2 in zip(list_1, list_2):
    print (element_1)
    print (element_2)

red
15
green
35
blue
2
yellow
23

In [54]:
for index, element_1 in enumerate(list_1):
    print(element_1)
    print(index)

red
0
green
1
blue
2
yellow
3

In [55]:
for i in range(30):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [115]:
list(range(30))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

# Functions

In [56]:
def say_hi(name):
    return "Hi {}, how are you doing ?".format(name)

In [57]:
say_hi("Clara")

'Hi Clara, how are you doing ?'

In [59]:
def say_hi_again(name="world"):
    return "Hi {}".format(name)

In [60]:
say_hi_again()

'Hi world'

In [61]:
say_hi_again("Nahuel")

'Hi Nahuel'

In [62]:
def funct_1(width, height, age, name="mundo"):
    print("width={},height={},age={},name={}".format(width, height, age, name))

In [63]:
a = [5.0,1.60,24,"gerardo"]
funct_1(*a)

width=5.0,height=1.6,age=24,name=gerardo

In [64]:
def funct_2(*args,**kwargs):
    print("Args = {}, kwargs={} ".format(args,kwargs))

In [66]:
print(dicc_1)
funct_2([1,2,3,4,5], 8, **dicc_1)

{'one': 1, 'three': 3}
Args = ([1, 2, 3, 4, 5], 8), kwargs={'one': 1, 'three': 3}

# Class  and Objects

In [67]:
class People():
    def __init__(self, name, age, weight):
        self.name = name
        self.age = age
        self.weight = weight
        
    def say_hi(self):
        print("Hello {}".format(self.name))

In [73]:
class Student(People):
    def __init__(self, name, age, weight, student_num, lectures):
        People.__init__(self, name, age, weight)
        self.student_num = student_num
        self.lectures = lectures
    
    def approved_lecture(self, lecture):
        self.lectures.append(lecture)

In [70]:
p = People("Gerado", 30, 80)
p.say_hi()

Hello Gerado

In [74]:
a = Student("Ana", 30, 60, 12345, ["algebra","calculus"])
a.say_hi()
a.approved_lecture("data science 101")
print(a.lectures)

Hello Ana
['algebra', 'calculus', 'data science 101']