<h1  markdown="1" style="text-align: center; font-size:50px"> Intro to Python 3</h1>

based on https://github.com/pablo1n7/meetup/tree/master/4-2016/introduccion-python

<h1  markdown="1" style="text-align: center; font-size:30px"> Data types </h1>

# Numbers, strings and bools

### int and float

In [1]:
num_1 = 80
num_2 = 232

In [2]:
num_1 + num_2

312

In [3]:
num_1 / 0

ZeroDivisionError: division by zero

In [4]:
num_1 * 3

240

In [5]:
num_2 ** 2

53824

In [6]:
import math
math.sqrt(4)

2.0

In [7]:
math.pi

3.141592653589793

### Strings

In [8]:
cadena_1 = "Hola Mundo"
cadena_2 = ','
cadena_3 = "Hello World"
print(cadena_3)

Hello World

In [9]:
cadena_3[:4]

'Hell'

In [10]:
cadena_1[0:4]

'Hola'

In [11]:
cadena_1 + cadena_2 +cadena_3

'Hola Mundo,Hello World'

In [12]:
"World " * 3

'World World World '

In [13]:
'%s is super %s' % ('Tunapanda', 'Awesome')

'Tunapanda is super Awesome'

In [14]:
'I like to say {} to all {}'.format(cadena_1[:4], 'Tunapanda\'s students')

"I like to say Hola to all Tunapanda's students"

### Bools

In [15]:
bool_1 = False
bool_2 = True

In [16]:
bool_1 and bool_2

False

In [17]:
bool_1 or bool_2

True

In [18]:
num_1 > num_2 or num_2 == 5

False

# Tuples, lists and dictionaries

### Tuples

In [19]:
tuple_1 = (1, 2, 4, 5, 6, 7, 7, "asd")
tuple_2 = 5, 6
print(tuple_2)

(5, 6)

In [20]:
tuple_1

(1, 2, 4, 5, 6, 7, 7, 'asd')

In [21]:
tuple_1[0]

1

In [22]:
tuple_2[2]

IndexError: tuple index out of range

In [23]:
tuple_2[0] = 10

TypeError: 'tuple' object does not support item assignment

In [24]:
tuple_2 * 5

(5, 6, 5, 6, 5, 6, 5, 6, 5, 6)

In [25]:
tuple_2.index("asd")

ValueError: tuple.index(x): x not in tuple

### Lists

In [26]:
# extension 
list_1 = [1,2,3,4,5,6]
print(list_1)

[1, 2, 3, 4, 5, 6]

In [27]:
# Comprehension 
list_2 = [2**i for i in range(13)]
print(list_2)

list_2 = list(range(2,6))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [28]:
cadena_1
"Hola" in cadena_1

True

In [29]:
list_1[:]

[1, 2, 3, 4, 5, 6]

In [30]:
list_1[:3]

[1, 2, 3]

In [31]:
list_2 = list_1[:] * 2
print(list_2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [32]:
list_2[:6] = ["A","B","C","D"]
print(list_2)

['A', 'B', 'C', 'D', 1, 2, 3, 4, 5, 6]

In [33]:
list_1 = ['a', 'b', 'c']
list_2 = [1, 2, 3]
list_3 = [list_1, list_2,list_1,list_2]
print(list_3)

[['a', 'b', 'c'], [1, 2, 3], ['a', 'b', 'c'], [1, 2, 3]]

In [34]:
stack = list_2[:]
print(stack)
stack.pop()
print(stack)

[1, 2, 3]
[1, 2]

In [35]:
list_3

[['a', 'b', 'c'], [1, 2, 3], ['a', 'b', 'c'], [1, 2, 3]]

In [36]:
queue = list_1[:]
print(queue)
queue.pop(0)
print(queue)

['a', 'b', 'c']
['b', 'c']

### Dictionaries

In [37]:
dicc_1 = {"one":1,"two":2,"three":3}
print(dicc_1)

{'one': 1, 'two': 2, 'three': 3}

In [38]:
dicc_1["three"]

3

In [39]:
del(dicc_1["two"])
print(dicc_1)

{'one': 1, 'three': 3}

In [40]:
"three" in dicc_1

True

# Flow control

In [41]:
print(list_1)
# No need of parenthesis!
if ('d' in list_1):
    print (" 'd' is in the list")
else:
    print (" 'd' is not in the list")

['a', 'b', 'c']
 'd' is not in the list

In [42]:
queue = list(range(6))
while queue:
    print(queue.pop(0))

0
1
2
3
4
5

In [43]:
list_1 = ["red", "green", "blue", "yellow"]
for color in list_1:
    print(color)

red
green
blue
yellow

In [44]:
for index, element_1 in enumerate(list_1):
    print("[{: ^3}]: {}".format(index, element_1))

[ 0 ]: red
[ 1 ]: green
[ 2 ]: blue
[ 3 ]: yellow

In [45]:
# We can tell it where to start
for index, element in enumerate('Nahuel', start=1):
    print("[{: ^3}]: {}".format(index, element))

[ 1 ]: N
[ 2 ]: a
[ 3 ]: h
[ 4 ]: u
[ 5 ]: e
[ 6 ]: l

In [46]:
list_2 = [15, 35, 2, 23]
for element_1,element_2 in zip(list_1, list_2):
    print(element_1, element_2, sep='<->')

red<->15
green<->35
blue<->2
yellow<->23

In [47]:
# What happens when a list is shorter?

In [48]:
for i in range(30):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [49]:
print(range(4))

range(0, 4)

In [50]:
print(list(range(4)))

[0, 1, 2, 3]

In [51]:
list(range(30))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

# Functions

In [52]:
def say_hi(name):
    return "Hi {}, how are you doing ?".format(name)

In [53]:
say_hi("Clara")

'Hi Clara, how are you doing ?'

### Arguments (passing ↘️and receiving↖️)
Some people call this packing and upacking 📦

#### ↘️ Functions can have optional (default) arguments

In [54]:
def area(height, width=10):
    return height * width

In [55]:
area(10)

100

In [56]:
area(10, 10)

100

#### ↘️that can be pass in order with the star (`*`)

In [57]:
my_arguments = [20, 20]  # tuple would also work

In [58]:
area(*my_arguments)

400

#### ↘️or by name with duble star (**)

In [59]:
my_named_arguments = {'height': 30, 'width': 30}

In [60]:
area(**my_named_arguments)

900

### `*` and `**` can be used at the same time, but must be in that order

In [61]:
def many_args(arg1, arg2, arg3, arg4, arg5):
    print(arg1, arg2, arg3, arg4, arg5)

In [62]:
positional = [0, 1, 2]
named = {'arg4': 3, 'arg5': 4}

In [63]:
many_args(*positional, **named)

0 1 2 3 4

In [64]:
positional_1 = ['this', 'really']
named_1 = {'arg5': '?'}

In [65]:
#### Putting all ↘️  together...

many_args('Is', *positional_1, arg4='necessary', **named_1)

Is this really necessary ?

### Receving arguments ↖️

In [66]:
# Positional
def average(*args):
    print("The average value of {} is {}".format(args, sum(args)/len(args)))

In [67]:
average(3, 9, 10, 40, 6)

The average value of (3, 9, 10, 40, 6) is 13.6

In [68]:
## Named
def pretty_print(**data):
    for name, value in data.items():
        print('{} -> {}'.format(name, value))

In [69]:
some_data = {'name': 'Nahuel', 'age': 34, 'special weapon': 'clutch'}
pretty_print(**some_data)

name -> Nahuel
age -> 34
special weapon -> clutch

# Class  and Objects

* Classes are defined with `class`
* Methods are defined with `def method_name(self, ...)` 
 * Self is required for instance method
   * Uising `@classmethod` in the line above of the method name makes it receive the class

In [70]:
class People:
    def __init__(self, name, age, weight):
        self.name = name
        self.age = age
        self.weight = weight
        
    def say_hi(self):
        print("Hello {}".format(self.name))

### Inheritance

In [71]:
class Student(People):
    def __init__(self, name, age, weight, student_num, lectures):
        super().__init__(name, age, weight)  # Call superclass __init__
        self.student_num = student_num
        self.lectures = lectures
    
    def approved_lecture(self, lecture):
        self.lectures.append(lecture)
    
    # Python supports special methods
    def __str__(self):
        return "<{:=^10}>".format(self.name)

In [72]:
p = People("Gerard", 30, 80)
p.say_hi()

Hello Gerard

In [73]:
a = Student("Ana", 30, 60, 12345, ["algebra","calculus"])
a.say_hi()
a.approved_lecture("data science 101")
print(a.lectures)

Hello Ana
['algebra', 'calculus', 'data science 101']

In [74]:
a

In [75]:
print("Student: {}".format(a))

Student: <===Ana====>